<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.timeflow">

    <!-- 必要的权限 -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />



    <uses-permission android:name="android.permission.USE_EXACT_ALARM"
        android:minSdkVersion="33" /> <!-- Android 13+ -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:minSdkVersion="31" /> <!-- Android 12+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" /> <!-- Android 13+ 通知权限 -->

    <!-- 设备管理员权限（用于专注模式锁定设备） -->
    <uses-permission
        android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Timeflow"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Timeflow"> <!-- 确保使用正确的主题 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 详情页使用无操作栏主题 -->
        <activity
            android:name=".ui.CountdownDetailActivity"
            android:exported="false" />
        <!-- 专注模式服务 -->
        <service android:name=".service.FocusModeService" />

        <activity
            android:name=".ui.FocusLockActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity="com.example.timeflow.focus"
            android:theme="@style/Theme.FocusLock" />


        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.register.RegisterActivity" />

        <!-- 设备管理员接收器 -->
        <receiver
            android:name=".service.FocusDeviceAdminReceiver"
            android:description="@string/focus_description"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.ReminderReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>